# Neon PostgreSQL Database Connection String
# Example: postgresql://neondb_owner:password@ep-cool-cloud-123456.eu-central-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_XxA1BoSLF0UY@ep-gentle-sky-b4k3yxdu.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_DATABASE_URL=postgresql://neondb_owner:npg_XxA1BoSLF0UY@ep-gentle-sky-b4k3yxdu.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

DATABASE_HOST=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USERNAME=
HOST=
JWT_EXPIRES_IN=
JWT_SECRET=


# Postgres — your database connection
DATABASE_URL="postgresql://neondb_owner:npg_XxA1BoSLF0UY@ep-gentle-sky-b4k3yxdu.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_POOLED="postgresql://neondb_owner:npg_XxA1BoSLF0UY@ep-gentle-sky-b4k3yxdu-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Neon Auth — sign-in for your app
NEON_AUTH_BASE_URL="https://ep-gentle-sky-b4k3yxdu.neonauth.c-6.us-east-2.aws.neon.tech/neondb/auth"

# Storage — S3-compatible object storage
AWS_ENDPOINT_URL_S3="https://br-noisy-cherry-b4k869r0.storage.c-6.us-east-2.aws.neon.tech"
AWS_ACCESS_KEY_ID="nak_live_bb377f1c28c342cbbad54d0ba1e23cd2"
AWS_SECRET_ACCESS_KEY="nsk_live_6ab828d45438b314086f612ddec309168bdfdf349bbeef57ed7fec8876f811af"
AWS_REGION="us-east-2"
S3_BUCKET="public-box"

# Functions — serverless endpoints
# Deploy a neon function with the 'neon deploy' cli command or deploy a function from one of Neon's sample templates with 'neon bootstrap'

# AI Gateway — OpenAI-compatible model endpoint
NEON_AI_GATEWAY_BASE_URL="https://br-noisy-cherry-b4k869r0-api.ai.c-6.us-east-2.aws.neon.tech"
NEON_AI_GATEWAY_TOKEN="nt_live_bb377f1c28c3_UBfAEBhXRxFJxenwgZR8DPPnMNPrisDq"